@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Lora');

body {
    height: 100%;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    padding:0;
    display: flex;
    flex-direction: column;
}

/*nav bar*/
.nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Lora', serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #ddd;
}
 
.nav a {
  text-decoration: none;
  color: #464646;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  color: #000;
}
 
.nav a.active {
  color: #4f84c0;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
    .nav ul{
        text-align: right;
    }
  

  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

/*end nav bar*/

p {
    font-family: "Lora", serif;
    font-size: 19px;
    color: #1e1e1e;
    line-height: 150%;
}

.content h3 {
    font-family: "Lora", serif;
    font-size: 1.7em;
    font-weight: lighter;
    color: #1e1e1e;
}

.name-header{
	font-family: "Lora", serif;
    font-weight: lighter;
    font-size: 4em;
    padding-top: 0;
    color: #516496;
}

.linked {
    color: #2969b0;
    text-decoration: none;
}
.content {
    flex: 1;
    padding: 20px;
}
.footer {
    padding: 20px;
    padding-bottom: none;
    text-align: center;
    font-family: "Lora", serif;
    font-size: 15px;
}
/*For the projects to display*/


.project {
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
    font-family: "Lora", serif;
    font-size: 19px;
    /*padding-bottom: 3%;*/
}
.project h2 {
    font-size: 24px;
}
.project p {
    padding-bottom: 3%;
}
.project p a {
    text-decoration: none;
}